<h1>  <%= @khan.name %> </h1>


Bio:<%= @khan.bio %><br>
Army Size:<%= @khan.army_size %><br>
Gold:<%= @khan.gold %><br>
Experience:<%= @khan.experience %><br>
Stars:<%= @khan.rating_star %><br>
<br>
<br>

<h2>Actions:</h2>

attack a Khan!
