<h2>Alas, <%=@player.name%> you've convinced your Khan that a rival Khan has besmirched his soverignty or honor!! Let battle be joined! and the unluckly Khan , the one who will feel the wrath and ire of you and your khan will be...</h2>

<br>
<br>
<%= form_for @battle do |f| %>


Your Khan: <%= f.collection_select :attacker_id, @khans, :id, :name %><br>
Your enemy Khan: <%= f.collection_select :attackee_id, @khans, :id, :name %><br>
Your name: <%= f.collection_select :player_id, @players, :id, :name %><br>

<%= f.submit %>

<% end %>

