<div class='adventure-bg'>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2" focusable="false" aria-hidden="true"></svg></a>
    </div>
  </div>
<br><br>
<br>
<br>

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><strong>The world is at your finger tips!! oh lord, <%=@player.name%>;<br> What would you like to do?!</strong></h1>
      <p class="lead text-muted"> yay!</p>
    </div>
  </section>
<br><br><br>
<br>
<br>

<div class="background">
  <div class="transbox">
<div class="center">
1. <%= link_to 'join a lord', "/join/#{@player.id}" %><br>
2. <%= link_to 'convince your Khan to attack another Khan!', "/battle/#{@player.id}" %><br>
3. <%= link_to 'convince your Khan to siege a city!', "/siege/#{@player.id}" %><br>
<br>
4. train yourself!

<br>
<br>
<%= link_to 'your bio', player_path(@player) %><br>
<%= link_to 'splashpage', splash_path %>

</div>
</div>
</div>


</div>