<h1>Make a new Adventurer!</h1>

<p>Amist the vast expanses of [whatever this country is called...] you are free to pursue your right of riches, adventure, and the pursuit of the unknown! </p><br><br>

<%= form_for @player do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br><br>
  <%= f.label :age %>:
  <%= f.number_field :age %><br><br>
  <%= f.label :bio %>:<br>
  <%= f.text_area :bio %><br><br>
  <%= f.label :gender %>:<br>
  <%= f.select :gender, ['Male' , 'Female'] %><br><br>
  <%= f.label :vocation %>:<br>
  <%= f.select :vocation, ['Swordsmen', 'Archer', 'Siege Engineer', 'Spy', 'Skirmisher']%><br><br>
  
  <%= f.submit %>
<% end %>