<h1>  <%= @player.name %> </h1>


Bio:<%= @player.bio %><br>
Age:<%= @player.age %><br>
Vocation:<%= @player.vocation %><br>
Experience:<%= @player.exp %><br>
Gender:<%= @player.gender %><br>
Gold:<%= @player.gold %><br>
Following:<%= @player.khan.name %><br>

